<div class="control-group">
  <div class="controls">
    <label class="control-label">
      <input type="checkbox" name="mandatory">
      Обязательное
    </label>
    <div class="help-block">
      Обязательные поля необходимо заполнить при редактировании формы
    </div>
  </div>
</div>

<div class="control-group">
  <label class="control-label">
    Значение по умолчанию
  </label>
  <div class="controls">
    <span class="control-wrap">
      <input type="text" name="default" class="span12">
    </span>
    <div class="help-block">
      Если требуется, введите текст для отображаемый в поле по умолчанию (до 255 символов)
    </div>
  </div>
</div>

<div class="control-group">
  <label class="control-label">
    Регулярное выражение (RegExp)
  </label>
  <div class="controls">
    <span class="control-wrap">
      <input type="text" name="regexp" class="span12">
    </span>
    <div class="help-block">
      Если требуется, укажите регулярное выражение (RegExp) для валидации поля
    </div>
  </div>
</div>
