<table>
  <thead>
    <tr>
      <th>Some Column</th>
      <th>Another Column</th>
      <th>Still More</th>
      <th>Some Column</th>
      <th>andt same agan</th>
    </tr>
  </thead>

  <tbody></tbody>

</table>
