<div class="control-group">
  <div class="controls">
    <label class="control-label">
      <input type="checkbox" name="mandatory">
      Обязательное
    </label>
    <div class="help-block">
      Обязательные поля необходимо заполнить при редактировании формы
    </div>
  </div>
</div>

<div class="control-group">
  <label class="control-label">
    Значение по умолчанию
  </label>
  <div class="controls">
    <textarea name="default" class="span12" rows="5" style="resize: auto;"></textarea>
    <div class="help-block">
      Если требуется, введите текст для отображения в поле по умолчанию
    </div>
  </div>
</div>
